body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-notification-notice {
  width:200px !important;
  padding:0 !important;
  overflow: visible !important;
  
}

.ant-notification-notice-content{
  border-radius: 20px !important;
}

.ant-notification-notice-description{
  margin-inline-start:0 !important;
}